<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quotorcloud.quotor.academy.mapper.EmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quotorcloud.quotor.academy.api.entity.Employee">
        <id column="e_id" property="id" />
        <result column="e_name" property="name" />
        <result column="e_sex" property="sex" />
        <result column="e_phone" property="phone" />
        <result column="e_email" property="email" />
        <result column="e_join_date" property="joinDate" />
        <result column="e_alias" property="alias" />
        <result column="e_shop_id" property="shopId" />
        <result column="e_shop_name" property="shopName" />
        <result column="e_position_id" property="positionId" />
        <result column="e_position_name" property="positionName" />
        <result column="e_head_title_id" property="headTitleId" />
        <result column="e_head_title_name" property="headTitleName" />
        <result column="e_job_number" property="jobNumber" />
        <result column="e_wechat_number" property="wechatNumber" />
        <result column="e_identity_card" property="identityCard" />
        <result column="e_head_img" property="headImg" />
        <result column="e_address" property="address" />
        <result column="e_emergency_contact" property="emergencyContact" />
        <result column="e_emer_phone" property="emerPhone" />
        <result column="e_skill" property="skill" />
        <result column="e_describe" property="describe" />
        <result column="e_works" property="works" />
        <result column="e_work_state" property="workState" />
        <result column="e_subscribe" property="subscribe" />
        <result column="e_sort" property="sort" />
        <result column="e_del_state" property="delState"/>
        <result column="e_remark" property="remark"/>
        <result column="e_user_id" property="userId"/>
        <result column="e_gmt_create" property="gmtCreate" />
        <result column="e_gmt_modified" property="gmtModified" />
    </resultMap>

    <resultMap id="AppointEmployeeMap" type="com.quotorcloud.quotor.academy.api.dto.AppointEmployeeDTO">
        <result column="e_id" property="employeeId"/>
        <result column="e_name" property="employeeName"/>
        <result column="e_job_number" property="employeeNo"/>
        <result column="e_position_name" property="positionName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        e_id, e_name, e_sex, e_phone, e_email, e_join_date,
        e_alias, e_shop_id, e_shop_name, e_position_id, e_position_name,
        e_head_title_id, e_head_title_name, e_job_number, e_wechat_number,
        e_identity_card, e_head_img, e_address, e_emergency_contact, e_emer_phone,
        e_skill, e_describe, e_works, e_work_state, e_subscribe,
        e_sort,e_del_state,e_remark,e_user_id, e_gmt_create, e_gmt_modified
    </sql>

    <select id="selectEmployeePositionAndHeadTitle" resultType="com.quotorcloud.quotor.academy.api.entity.Employee" resultMap="BaseResultMap">
        select e_position_name,e_head_title_name from bear_employee
    </select>

    <!-- 查询预约员工封装   -->
    <select id="selectAppointEmployee" resultType="com.quotorcloud.quotor.academy.api.dto.AppointEmployeeDTO"
    resultMap="AppointEmployeeMap">
        select e_id, e_name, e_job_number, e_position_name from bear_employee
        <where>
            e_del_state = 0 and e_work_state = 1
            <if test="shopId != null and shopId != ''">
                and e_shop_id = #{shopId}
            </if>
        </where>
    </select>
    <select id="selectAttendanceStatisrics"
            resultType="com.quotorcloud.quotor.academy.api.vo.EmployeeAttendanceStatisticsVO">

    </select>

</mapper>
