<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quotorcloud.quotor.academy.mapper.ExpendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quotorcloud.quotor.academy.api.entity.Expend">
        <result column="e_id" property="id" />
        <result column="e_expend_type_id" property="eExpendTypeId" />
        <result column="e_expend_type_name" property="eExpendTypeName" />
        <result column="e_shop_id" property="eShopId" />
        <result column="e_shop_name" property="eShopName" />
        <result column="e_payment" property="ePayment" />
        <result column="e_pay_way" property="ePayWay" />
        <result column="e_money" property="eMoney" />
        <result column="e_pay_time" property="ePayTime" />
        <result column="e_expend_content" property="eExpendContent" />
        <result column="e_employee_name_list" property="eEmployeeNameList" />
        <result column="e_img" property="eImg" />
        <result column="e_del_state" property="eDelState" />
        <result column="e_gmt_create" property="gmtCreate" />
        <result column="e_gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        e_id, e_expend_type_id, e_expend_type_name, e_shop_id, e_shop_name, e_payment, e_pay_way, e_money, e_pay_time, e_expend_content, e_employee_name_list, e_img, e_del_state, e_gmt_create, e_gmt_modified
    </sql>
    <select id="selectExpendPage" resultType="com.quotorcloud.quotor.academy.api.entity.Expend" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from bear_expend
        <where>
            e_del_state = 0
            and e_shop_id = #{exp.eShopId}
            <if test="exp.eExpendTypeId != null and exp.eExpendTypeId !=''">
                and e_expend_type_id like concat('%', #{exp.eExpendTypeId}, '%')
            </if>
            <if test="exp.eExpendTypeName != null and exp.eExpendTypeName !=''">
                and e_expend_type_name like concat('%', #{exp.eExpendTypeName}, '%')
            </if>
            <if test="exp.ePayment != null and exp.ePayment != ''">
                and e_payment like concat('%', #{exp.ePayment}, '%')
            </if>
            <if test="exp.ePayWay != null and exp.ePayWay != ''">
                and e_pay_way = #{exp.ePayWay}
            </if>
            <if test="exp.eShopName != null and exp.eShopName != ''">
                and e_shop_name = #{exp.eShopName}
            </if>
            <if test="exp.start != null and exp.start != ''">
                and DATE_FORMAT(e_gmt_create,'%Y-%m-%d') <![CDATA[>=]]> #{exp.start}
            </if>
            <if test="exp.end != null and exp.end != ''">
                and DATE_FORMAT(e_gmt_create,'%Y-%m-%d') <![CDATA[<=]]> #{exp.end}
            </if>
            <if test="exp.startMoney != null and exp.startMoney != ''">
                and e_money <![CDATA[>=]]> #{exp.startMoney}
            </if>
            <if test="exp.endMoney != null and exp.endMoney != ''">
                and e_money <![CDATA[<=]]> #{exp.endMoney}
            </if>
        </where>
        order by e_gmt_create desc
    </select>

</mapper>
